@keyframes anim{
    from{
   transform:rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }


}

.medal{
    width: 124px;
    height: 124px;
    background-image: url(https://cdn.discordapp.com/attachments/490474925740523541/714887588808360036/1599-i-com.png);
    animation: anim 10s ;
    animation-iteration-count: infinite;
    display: inline-block;
}

.spag:hover{
color: wheat;
}
.foto2{
  width: 640px;
  height: 360px;
}

.logo2{
    
   
    color:wheat;
    font-size: 80px;
    font-family: monospace;
    letter-spacing: 5px;
    

}

h1{
   
    color: rgb(224, 153, 20);
    font-size: 80px;
    font-family: monospace;
    letter-spacing: 5px;
    text-shadow: 10px 10px 10px rgb(32, 32, 32);

}

/*Описание классов атаки*/

.raz{
    width: 240px;
    height: 200px;
    border: 2px solid orange;
    padding: 10px;
    margin: 10px;
    background-color:rgb(61, 56, 56);
}

.raz2{
    width: 360px;
    height: 200px;
    border: 2px solid orange;
    padding: 10px;
    margin: 10px;
    background-color:rgb(61, 56, 56);
}
.raz3{
    width: 240px;
    height: 200px;
    border: 2px solid orange;
    padding: 10px;
    margin: 10px;
    background-color:rgb(61, 56, 56);
}
.raz4{
    width: 240px;
    height: 200px;
    border: 2px solid orange;
    padding: 10px;
    margin: 10px;
    background-color:rgb(61, 56, 56);

}

.pyr{
    width: 240px;
    height: 200px;
    border: 2px solid orange;
    padding: 10px;
    margin: 10px;
    background-color:rgb(61, 56, 56);
}

.pyr2{
    width: 290px;
    height: 200px;
    border: 2px solid orange;
    padding: 10px;
    margin: 10px;
    background-color:rgb(61, 56, 56);
}
.pyr3{
    width: 320px;
    height: 200px;
    border: 2px solid orange;
    padding: 10px;
    margin: 10px;
    background-color:rgb(61, 56, 56);
}
.pyr4{
    width: 240px;
    height: 200px;
    border: 2px solid orange;
    padding: 10px;
    margin: 10px;
    background-color:rgb(61, 56, 56);

}

.dat{
    width: 240px;
    height: 200px;
    border: 2px solid orange;
    padding: 10px;
    margin: 10px;
    background-color:rgb(61, 56, 56);
}

.dat2{
    width: 290px;
    height: 200px;
    border: 2px solid orange;
    padding: 10px;
    margin: 10px;
    background-color:rgb(61, 56, 56);
}
.dat3{
    width: 320px;
    height: 200px;
    border: 2px solid orange;
    padding: 10px;
    margin: 10px;
    background-color:rgb(61, 56, 56);
}
.dat4{
    width: 240px;
    height: 200px;
    border: 2px solid orange;
    padding: 10px;
    margin: 10px;
    background-color:rgb(61, 56, 56);
}

/*Описание классов атаки*/

/*Описание классов защиты*/

.dem{
    width: 240px;
    height: 200px;
    border: 2px solid orange;
    padding: 10px;
    margin: 10px;
    background-color:rgb(61, 56, 56);
}

.dem2{
    width: 290px;
    height: 200px;
    border: 2px solid orange;
    padding: 10px;
    margin: 10px;
    background-color:rgb(61, 56, 56);
}
.dem3{
    width: 320px;
    height: 200px;
    border: 2px solid orange;
    padding: 10px;
    margin: 10px;
    background-color:rgb(61, 56, 56);
}
.dem4{
    width: 240px;
    height: 200px;
    border: 2px solid orange;
    padding: 10px;
    margin: 10px;
    background-color:rgb(61, 56, 56);
}

.heav{
    width: 240px;
    height: 200px;
    border: 2px solid orange;
    padding: 10px;
    margin: 10px;
    background-color:rgb(61, 56, 56);
}

.heav2{
    width: 290px;
    height: 200px;
    border: 2px solid orange;
    padding: 10px;
    margin: 10px;
    background-color:rgb(61, 56, 56);
}
.heav3{
    width: 280px;
    height: 200px;
    border: 2px solid orange;
    padding: 10px;
    margin: 10px;
    background-color:rgb(61, 56, 56);
}
.heav4{
    width: 270px;
    height: 200px;
    border: 2px solid orange;
    padding: 10px;
    margin: 10px;
    background-color:rgb(61, 56, 56);
}

.ein{
    width: 240px;
    height: 200px;
    border: 2px solid orange;
    padding: 10px;
    margin: 10px;
    background-color:rgb(61, 56, 56);
}

.ein2{
    width: 330px;
    height: 200px;
    border: 2px solid orange;
    padding: 10px;
    margin: 10px;
    background-color:rgb(61, 56, 56);
}
.ein3{
    width: 260px;
    height: 200px;
    border: 2px solid orange;
    padding: 10px;
    margin: 10px;
    background-color:rgb(61, 56, 56);
}
.ein4{
    width: 240px;
    height: 200px;
    border: 2px solid orange;
    padding: 10px;
    margin: 10px;
    background-color:rgb(61, 56, 56);
}

.ein5{
    width: 270px;
    height: 200px;
    border: 2px solid orange;
    padding: 10px;
    margin: 10px;
    background-color:rgb(61, 56, 56);
}

.ein6{
    width: 280px;
    height: 200px;
    border: 2px solid orange;
    padding: 10px;
    margin: 10px;
    background-color:rgb(61, 56, 56);
}
.ein7{
    width: 280px;
    height: 200px;
    border: 2px solid orange;
    padding: 10px;
    margin: 10px;
    background-color:rgb(61, 56, 56);
}
.ein8{
    width: 240px;
    height: 200px;
    border: 2px solid orange;
    padding: 10px;
    margin: 10px;
    background-color:rgb(61, 56, 56);
}
/*Описание классов защиты*/

/*Описание классов поддержки*/
.snip{
    width: 240px;
    height: 200px;
    border: 2px solid orange;
    padding: 10px;
    margin: 10px;
    background-color:rgb(61, 56, 56);
}

.snip2{
    width: 290px;
    height: 200px;
    border: 2px solid orange;
    padding: 10px;
    margin: 10px;
    background-color:rgb(61, 56, 56);
}
.snip3{
    width: 320px;
    height: 200px;
    border: 2px solid orange;
    padding: 10px;
    margin: 10px;
    background-color:rgb(61, 56, 56);
}
.snip4{
    width: 240px;
    height: 200px;
    border: 2px solid orange;
    padding: 10px;
    margin: 10px;
    background-color:rgb(61, 56, 56);
}

.med{
    width: 240px;
    height: 200px;
    border: 2px solid orange;
    padding: 10px;
    margin: 10px;
    background-color:rgb(61, 56, 56);
}

.med2{
    width: 290px;
    height: 200px;
    border: 2px solid orange;
    padding: 10px;
    margin: 10px;
    background-color:rgb(61, 56, 56);
}
.med3{
    width: 280px;
    height: 200px;
    border: 2px solid orange;
    padding: 10px;
    margin: 10px;
    background-color:rgb(61, 56, 56);
}
.med4{
    width: 270px;
    height: 200px;
    border: 2px solid orange;
    padding: 10px;
    margin: 10px;
    background-color:rgb(61, 56, 56);
}

.sp{
    width: 240px;
    height: 200px;
    border: 2px solid orange;
    padding: 10px;
    margin: 10px;
    background-color:rgb(61, 56, 56);
}

.sp2{
    width: 300px;
    height: 200px;
    border: 2px solid orange;
    padding: 10px;
    margin: 10px;
    background-color:rgb(61, 56, 56);
}
.sp3{
    width: 260px;
    height: 200px;
    border: 2px solid orange;
    padding: 10px;
    margin: 10px;
    background-color:rgb(61, 56, 56);
}
.sp4{
    width: 240px;
    height: 200px;
    border: 2px solid orange;
    padding: 10px;
    margin: 10px;
    background-color:rgb(61, 56, 56);
}

.sp5{
    width: 150px;
    height: 200px;
    border: 2px solid orange;
    padding: 10px;
    margin: 10px;
    background-color:rgb(61, 56, 56);
}

.sp6{
    width: 280px;
    height: 200px;
    border: 2px solid orange;
    padding: 10px;
    margin: 10px;
    background-color:rgb(61, 56, 56);
}
/*Описание классов поддержки*/


.sold{
    width: 55px;
    height: 65px;
}
.his{
    background-color: rgb(238, 175, 58);
}
.his:hover{

    background-color:/*rgb(49, 44, 44);*/ wheat;
}


a{
    color:rgb(116, 72, 15);
    text-decoration: none;
}
body{
    background-image:url("https://cdn.discordapp.com/attachments/490474925740523541/712958061051904052/original_8435_oboi_bezhevaja_stena_2560x1600.jpg");

    background-size: cover;
    display: flex;

}


.logo{
    width: 750px;
    height: 250px;

}

section {
    
    border: 2px solid black;
    padding: 30px;
    width: 1300px;
    margin: 0 auto;
    background-color:rgb(49, 44, 44);
}




/*.flex-cont {
    display: flex;
    justify-content: space-around;
    background-color:white;
    margin: 0px;
}*/

.foto{
    width: 540px;
    height: 320px;
    margin: 8px;
}

h6{
    font-size: 30px;
    color:orange;
    margin: 6px;
    font-family:Arial Black;
}
p{
    color: orange;
    font-size: 25px ;
    padding: 5px;
    font-family:Impact;
    letter-spacing: 1,5px;
}

h3{
    color: wheat;
    font-size: 60px;
    font-family:Arial Black;
    margin: 0 auto;
}




ul {
    display: flex;
    list-style: none;
}


li {
    border: 5px solid orange;
    padding: 10px;
    font-size: 34px;
    color: white;
    margin: 20px;
    font-weight: 200px;
    font-family:Arial Black;
    background-color:/*rgb(49, 44, 44);*/ wheat;
}

.firsthead {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


body {
    display: flex;
    flex-direction: column;
}

footer{
    font-size: 30px;
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.foot{
    font-size: 20px;
    font-family:Arial Black;
    color:wheat;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.foota{

 color:wheat;
}
.foota:hover{
    color:rgb(201, 187, 187);
}
.rub{
    width: 75px;
    height: 75px;
    border: 3px solid orange;
    margin: 0 auto;
}
